{{define "title"}}About{{end}} 
    {{define "main"}}
    <h2>About</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sequi
            pariatur corporis rem enim. Rerum, itaque sit. Corporis, officiis excepturi.
            Suscipit ipsa reprehenderit temporibus. Odit aliquid quod placeat eum, omnis
            maiores temporibus animi velit. Dolorum perferendis eos dolorem cumque
            provident. Pariatur itaque odit adipisci nisi debitis. Natus ad perferendis
            laborum!
        </p>
    {{end}}
